= div_for(@book,class: "container") do
  %h2= @book.name
  .row
    .col-md-9
      = image_tag(@book.image,class: "img-responsive",alt: @book.name)
    .col-md-3
      %p
        Owned By: #{link_to @user.name.capitalize,@user}
      = button_to "Request Book",user_requests_path(user_id: current_user.id,request: {book_id: @book.id}),class: request_button_class
