<% flash.each do |message_type,message| %>
  <div class="alert alert-<%= message_type%>"><%= message%></div>
<% end %>
<div class="container">
  <% @books.each do |book|  %>
    <div class="row">
      <h2><%= book.name %></h2>
      <div class="col-md-9" >
        <%= link_to image_tag(book.image,class: "img-responsive",alt: book.name),book  %>
      </div>
      <div class="col-md-3">
        <p>Owned By: <%= link_to book.user.name.capitalize,book.user %></p>
        <%= button_to "Request Book",user_request_index_path(user_id: current_user.id,request: {book_id: book.id}),class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
