- flash.each do |message_type,message|
  %div{:class => "alert alert-#{message_type}"}= message
.container
  - @books.each do |book|
    .row
      %h2= book.name
      .col-md-9
        = link_to image_tag(book.image,class: "img-responsive",alt: book.name),user_book_path(user_id: book.user.id,id: book.id)
      .col-md-3
        %p
          Owned By: #{link_to book.user.name.capitalize,book.user}
        = button_to "Request Book",user_requests_path(user_id: current_user.id,request: {book_id: book.id}),class: "btn btn-primary"
