!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ReCircle
    = stylesheet_link_tag 'application','https://fonts.googleapis.com/css?family=Lato:400,300,100,700',media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    - if user_signed_in?
      .hidden
        = link_to "Notification", user_notifications_path(current_user), remote:true, id:"notify"
      = render 'layouts/navheader'


    - flash.each do |message_type,message|
      %div{:class => "alert alert-#{message_type}"}= message

    = yield
    - if user_signed_in?
      = render 'layouts/isbn_dropdown'

